LPOO1_GRUPO02/Vistas/obj/x86/Debug/Vistas.FrmGestion.resources
LPOO1_GRUPO02/Vistas/bin/
LPOO1_GRUPO02/Vistas/obj/
LPOO1_GRUPO02/ClasesBase/bin/
LPOO1_GRUPO02/ClasesBase/obj/
/LPOO1_GRUPO02/Vistas/obj/*
/LPOO1_GRUPO02/Vistas/obj/x86/Debug/Vistas.FrmLogin.resources
LPOO1_GRUPO02/LPOO1_GRUPO02.suo
~$nual de Usuario SVAU OK.docx
